#hide-dropdown {
    display: none;
}

.activities-menu {
    padding-left: 10px;
    padding-right: 20px;
    border-bottom: 2px solid #3a825b;
    border-top: 2px solid #3a825b;
}

.activities-list {
    padding: 10px;
    padding-right: 40px;
}

.title {
    text-align: left;
}

.arrow {
    float: right;
    color: #3a825b;
}