.App {
    display: flex;
    justify-items: stretch;
    min-height: 100vh;
}

.sidebar {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    background-color: #f2f1e8;
    color: black;
    padding: 0px;
    max-width: 400px;
    min-width: 400px;
    max-height: 100vh;
    z-index: 999;
    overflow-y: auto;
}

.welcome {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

/* map */
.leaflet-container {
    z-index: 0;
    min-width: 100vw;
}

.parks-total {
    color: #2f694a;
    text-align: center;
}